{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'create_task' %}">Create</a>
            </p>
            {% if my_tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in my_tasks %}
                            <tr>
                                <td>{{ x.name }}</td>
                                <td>{{ x.start_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
