{% extends 'base.html' %}

{% block title %}
    Details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_detail.name }}</h1>
            <p>{{ project_detail.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_detail.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <tr>
                            </thead>
                            <tbody>
                                {% for x in project_detail.tasks.all %}
                                    <tr>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.assignee }}</td>
                                        <td>{{ x.start_date }}</td>
                                        <td>{{ x.due_date }}</td>
                                        <td>{{ x.is_completed|yesno }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
